@page
@model J94013.Pages.Menus.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}


<body>
    <div class="menu">
<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <h1 class="menu_h1">MENU</h1>

    <p>
        <select asp-for="MenuCartegory" asp-items="Model.Cartegory">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Cartegory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].ImgImageData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Menu) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cartegory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

               <td>
                            <img src="data:image/jpg;base64 ,@item.ImgImageData" width="120px" height="120px"/>
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</body>